<style rel="stylesheet" type="text/css">
#modal{ background:rgba(0,0,0, 0.5); width:100%; height:100%; position:fixed; left:0; top:0; display:none; z-index: 2;} 
.modal-box{ background:#FFF; width:80%; height:500px; position:absolute; left:50%; top:50%; margin-left:-40%; margin-top:-250px; }
.fechar{ padding:5px 10px; border:1px solid #CCC; position:absolute; right:3px; top:3px; border-radius:7px; color:#CCC; cursor:pointer;}
.fechar:hover{ color:#666; border-color:#666;}
</style>
<div id="modal">
  <div class="modal-box">
    <div class="fechar">X</div>
    <div class="modal-box-conteudo">
      <iframe src="" id="Frame" width="100%" marginwidth="0" height="500px" marginheight="0" align="middle" scrolling="auto"></iframe>
    </div>
  </div>
</div>

<% titulo = ['ID', 'Descricao', 'Tipo', 'IP', 'Mascara de Rede', 'Data Backup', 'Numero de Serie', 
             'Especificação Tecnica', 'Usuario de Alt.', 'Data de Alt.', 'Data de Cadastro', 'Cancelado']%>
<div>
  <table border rules=rows align='center' face="Comic Sans MS, arial, verdana" style="	margin: 1%;">
    <tr bgcolor="#1E90FF">
     <td></td>
     <% titulo.each do |coluna| %>
       <td><font size="2" face="Comic Sans MS">&nbsp<%= coluna %></font></td>
     <% end %>
    </tr>
    <% @equipamentos.each do | equipamento |%>
      <% conteudo = [equipamento.id, equipamento.descricao, equipamento.tipo, equipamento.ip, equipamento.mascara_rede, 
         equipamento.data_backup, equipamento.numero_serie, 
         equipamento.especificacao_tecnica, equipamento.usuario_alteracao_id, equipamento.updated_at.to_date, equipamento.created_at.to_date]
%>
      <tr>
        <td>
            <input type="radio" name="equipamento_id" value="<%= equipamento.id %>">
        </td>
        <% conteudo.each do | coluna |%>
          <td><font size="2" face="Comic Sans MS">&nbsp<%= coluna %></font></td> 
        <% end %>
        <td><font size="2" face="Comic Sans MS">&nbsp
          <% if equipamento.cancelado.eql? true %>
            sim 
          <% else %>
            não 
          <% end %>
           </font>
        </td> 
     <tr>
    <% end %>
  </table>
  <p align=center><a href="javascript:editar();"><button>Editar</button></a>
  <a href="javascript:detalhes();"><button>Detalhes</button></a>
  <a href="javascript:addLogin();"><button>Adicionar Login</button></a>
  <a href="javascript:addAlerta();"><button>Adicionar Alerta</button></a></p>
</div>

<script>
function modal() {
  $('#modal').fadeIn(1500);
  $('.fechar, #modal').click(function(event){   
    if ( event.target !== this ){
      return;
    }
    $('#modal').fadeOut(500);
  });
}
function detalhes(){
    var equipamento = verificar_selecionado('equipamento_id');
    var loc = "<%= url_for :controller => 'equipamento', :action => 'detalhes' %>?form[equipamento_id]="+equipamento;
    document.getElementById('Frame').setAttribute('src', loc);
    modal();
}

function editar(){
    var equipamento = verificar_selecionado('equipamento_id');
    var loc = "<%= url_for :controller => 'equipamento', :action => 'editar' %>?form[equipamento_id]="+equipamento;
    document.getElementById('Frame').setAttribute('src', loc);
    modal();

}

function addLogin(){
    var equipamento = verificar_selecionado('equipamento_id');
    var loc = "<%= url_for :controller => 'acesso', :action => 'cadastro' %>?form[equipamento_id]="+equipamento;
    document.getElementById('Frame').setAttribute('src', loc);
    modal();
}

function addAlerta(){
    var equipamento = verificar_selecionado('equipamento_id');
    var loc = "<%= url_for :controller => 'equipamento', :action => 'cadastro_alerta' %>?form[equipamento_id]="+equipamento;
    document.getElementById('Frame').setAttribute('src', loc);
    modal();
}

function verificar_selecionado(monitoramento) {
    var radioButtons = document.getElementsByName(monitoramento);
    for (var i = 0; i < radioButtons.length; i++) {
        if (radioButtons[i].checked) return radioButtons[i].value;
    }
    return '';
}
</script>
